body {
    background-color: lightgoldenrodyellow;
    font-family: 'Poppins', sans-serif;
  }
 
  .srodek {
    text-align: center;
    margin-top: 30px;
  }

  .kebab {
text-align: center;

  }

  .keba {
    font-family: 'Freckle Face', cursive;
text-align: center;
  }

  .dol {
    font-family: 'Poppins', sans-serif;
text-align: left;
width: 1889px;
height: 120px;

  }