body {
    background-color: lightgoldenrodyellow;
    font-family: 'Poppins', sans-serif;
  }
 
  .srodek {
    text-align: center;
    margin-top: 30px;
  }

  .kebab {
text-align: center;

  }

  .keba {
    font-family: 'Freckle Face', cursive;
text-align: center;
text-size-adjust: 20px;
  }